html {
	scroll-behavior: smooth;
}

body {
	background-color: #221D23;
}

#header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

#logo {
	max-width: 15%;
	flex: 1;
}

#logo img {
	max-width: 99%;
}

#navbar {
	text-align: end;
	word-spacing: 20px;
	padding-top: 5%;
	padding-right: 5%;
	flex: 1;
}

#navbar a {
	color: #D0E37F;
	text-decoration: none;
	font-family: 'Overpass Mono', monospace;
	font-size: 2vw;
}

#navbar a:hover {
	color: #D1603D;
	font-weight: 600;
}

#home {
	display: block;
	height: 100vh;
	margin-top: 30%;
}

#home p {
	color: white;
	font-family: 'Overpass Mono', monospace;
	font-size: 4.5vw;
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
}

#about {
	display: block;
	height: 100vh;
	padding-top: 20%;
}

#about p {
	color: white;
	font-family: 'Overpass Mono', monospace;
	font-size: 3vw;
	padding-left: 15%;
	padding-right: 15%;
}

#blog {
	display: block;
	height: 100vh;
	padding-top: 20%;
}

#blog p {
	color: white;
	font-family: 'Overpass Mono', monospace;
	font-size: 3vw;
	padding-left: 15%;
	padding-right: 15%;
}

#contact {
	display: block;
	height: 100vh;
	padding-top: 20%;
}

#contact p {
	color: white;
	font-family: 'Overpass Mono', monospace;
	font-size: 3vw;
	padding-left: 15%;
	padding-right: 15%;
}