/*.navbar { background:#F97300;}*/

body {
	background-color: #d8e2dc;
}

.brand {
	cursor: pointer;
	width: 170px;
}

.nav-link {
	color: #292929;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
	border: 1px solid transparent;
}

.nav-link:hover {
	/*background: #f4f4f4;*/
	/*color: #f97300;*/
	color: #292929;
	border: 1px solid #292929;
	border-radius: 3px;
}

.navbar-collapse {
	float: top;
	justify-content: flex-end;
}

.navbar-toggler {
	background:#fff !important;
}

/*header style*/
/*.header {
	position: fixed;
	top: 170px;
	left: 300px;
}*/

.carousel {
	position: fixed;
	top: 250px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 650px;
}

.carousel-indicators li, .carousel-indicators li.active{
    width: 15px;
    height: 15px;
    position: relative;
    margin: 10px;
    background: transparent;       
}
.carousel-indicators img{
    position: absolute;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    top: 0;
    left: 0;            
}

/*.carousel-indicators li {
	background-image: url("media/icons8-bubble-30.png");
}*/


/* CONTACT PAGE */
#contact-list {
	list-style-type: none;
	position: fixed;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 250px;
	width: 344px;
}

.contact-item {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}


/* 404 PAGE */
#lost-div {
	position: fixed;
	top: 140px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.lost-text {
	text-align: center;
}

#lost-image {
	width: 800px;
}