html {
	scroll-behavior: smooth;
}

body {
	background-color: #221D23;
}

#header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

#logo {
	max-width: 20%;
	flex: 1;
}

#logo img {
	max-width: 99%;
}

.navbar {
	text-align: end;
	word-spacing: 20px;
	padding-top: 5%;
	padding-right: 5%;
	flex: 1;
}

.navbar a {
	color: #D0E37F;
	text-decoration: none;
	font-family: 'Overpass Mono', monospace;
	font-size: 150%;
}

.navbar a:hover {
	color: #D1603D;
	font-weight: 600;
}

#home {
	display: block;
	height: 100vh;
	margin-top: 50%;
}

#home p {
	color: white;
	font-family: 'Overpass Mono', monospace;
	font-size: 220%;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}

#about {
	display: block;
	height: 100vh;
}

#about p {
	color: white;
	font-family: 'Overpass Mono', monospace;
	font-size: 180%;
	padding-left: 20%;
	padding-right: 20%;
}

#contact {
	display: block;
	height: 100vh;
}

#contact p {
	color: white;
	font-family: 'Overpass Mono', monospace;
	font-size: 180%;
	padding-left: 20%;
	padding-right: 20%;
}